<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Altassian.Proxy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Altassian.Proxy.Properties.Settings>
            <setting name="Altassian_Proxy_com_atlassian_jira_JiraSoapServiceService"
                serializeAs="String">
                <value>https://jira.atlassian.com/rpc/soap/jirasoapservice-v2</value>
            </setting>
            <setting name="Altassian_Proxy_com_atlassian_confluence_ConfluenceSoapServiceService"
                serializeAs="String">
                <value>https://developer.atlassian.com/rpc/soap-axis/confluenceservice-v2</value>
            </setting>
        </Altassian.Proxy.Properties.Settings>
    </applicationSettings>
</configuration>